<section id="main-content" class="section-home">
	<%= render 'partials/landing_page/main_slider' %>
	<%= render 'partials/landing_page/members' %>
	<%= render 'partials/landing_page/calendar' %>
	<%= render 'partials/landing_page/about_us' %>
	<%= render 'partials/landing_page/campaigns' %>
</section>