<div class="col-sm-12 chop">
  <!-- BEGIN BORDERED TABLE PORTLET-->
  <div class="portlet light portlet-fit">
    <div class="portlet-title">
      <div class="caption">
        <span class="caption-subject sbold uppercase"><%= title %></span>
      </div>
    </div>
    <div class="portlet-body">
      <div class="table-scrollable table-scrollable-borderless" style="overflow: visible;">
        <table class="table table-hover table-light">
          <thead>
          <tr class="uppercase">
            <th>#</th>
            <th class="text-center col-sm-1">Name</th>
            <th class="text-center col-sm-5">Contact Email</th>
            <th class="text-center col-sm-3">Joined</th>
            <th class="text-center col-sm-3">Region</th>
            <th class="text-center col-sm-3">Action</th>
          </tr>
          </thead>
          <tbody>
          <% if entities.any? %>
              <% entities.each_with_index do |entity, index| %>
                  <tr>
                    <td><%= index + 1 %></td>
                    <td class="text-center"><%= entity.name %></td>
                    <td class="text-center">
                      <%= entity.contact_email %>
                    </td>
                    <td class="text-center"><%= time_ago_in_words entity.created_at %></td>
                    <td class="text-center"><%= entity.region.name if entity.region.present? %></td>
                    <td class="text-center">
                      <div class="actions">
                        <div class="btn-group">
                        <%= link_to 'View', dashboard_path(user_id: entity.admin_users.first.try(:id)),
                                    class: 'btn dark btn-outline btn-circle btn-sm' %>
                        </div>
                      </div>
                    </td>
                  </tr>
              <% end %>
          <% else %>
              <tr class="text-center">
                <td colspan="5">Sorry we could not find any <%= title %> for your state.</td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- END BORDERED TABLE PORTLET-->
</div>
